.flex-row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

body
{
    margin: 0;
}

/*
.playfair-display sc-regular {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .playfair-display sc-bold {
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .playfair-display sc-black {
    font-family: "Playfair Display SC", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .playfair-display sc-regular-italic {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .playfair-display sc-bold-italic {
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .playfair-display sc-black-italic {
    font-family: "Playfair Display SC", serif;
    font-weight: 900;
    font-style: italic;
  }
*/